.Rhistory
.Rprofile
*.csv
*.sav
*.sas7bdat
*.xlsx
*.xls
*.pdf
*.fff
*.log
*.tex
.Rproj.user
*.RData
dat.csv
!synthetic_dat.csv
!codebook_dat.csv
df.csv
!synthetic_df.csv
!codebook_df.csv
.DS_Store
.Rapp.history
